{% extends "index.html" %}

{% block title %}Buscar Pesona{% endblock %}

{% block content %}

    <div id="div-add-face" class="row">
        <div class="col-12 col-md-3">
            <div>
                <span>Lista De Personas</span>
            </div>
            <div class="container">
                <div id="list-persons" class="form-group">
                    <!-- <div class="d-block">
                        <input type="checkbox" file="hola_13" name="hola1" ci="123" class="check-list"> Juan
                    </div>-->
                </div>
            </div>
        </div>
        <div class="col-12 col-md-9 mx-auto mb-4">
            <div class="row">
                <div id="div-select-camera" class="col-12 col-md-10 mx-auto mb-2">
                    <select id="cameraSelect" class="form-control">
                        <option value="">Seleccione su cámara</option>
                        {% for camera in cameras %}
                            <option value="{{camera}}">Camera {{camera}}</option>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-12 d-flex justify-content-center">
                    <img id="video" class="rounded bg-video-camera-find" src="static/images/camera.png"/>
                </div>

                <div class="col-12 d-flex justify-content-center">
                    <button type="button" id="camera-button" class="m-2 btn btn-success btn-sm mt-2">
                        <i class="fas fa-camera"></i>
                        Abrir Cámara
                    </button>
                    <button type="button" id="camera-close" class="m-2 btn btn-danger btn-sm mt-2" style="display: none;">
                        <i class="fas fa-camera"></i> 
                        Cerrar Cámara
                    </button>
                </div>
            </div>

        </div>
    </div>
                    
{% endblock %}

{% block script %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script src="../static/scripts/find-person.js"></script>
    <script>
        document.querySelector('#nav-find-person').classList.add('active');
    </script>
{% endblock %}