<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Select Event</title>
</head>
<body>
    <h1>Event: {{ event.nombre }}</h1>
    <p>Date: {{ event.fecha }}</p>
    <p>Time: {{ event.hora }}</p>
    <button onclick='startAttendance({{event.id}})'>Start Attendance</button>
    <h2>Participants</h2>
    <ul>
        {% for participant in participants %}
            <li>{{ participant.nombre }} {{ participant.apellido }}</li>
        {% endfor %}
    </ul>
    <script>
        function startAttendance(eventId) {
            fetch(`/start_attendance/${eventId}`, { method: 'POST' })
                .then(response => response.json())
                .then(data => {
                    if (data.status === "Attendance started") {
                        window.location.href = "/show_camera";
                    }
                });
        }
    </script>
</body>
</html>
