<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Real-time Face Recognition</title>
</head>
<body>
    <h1>Real-time Face Recognition for Event: {{ event.name }}</h1>
    <div>
        <h2>Participants Recognized:</h2>
        <ul>
            {% for participant in participants %}
            <li>{{ participant.first_name }} {{ participant.last_name }}</li>
            {% endfor %}
        </ul>
    </div>
    <div id="video-container">
        <!-- Aquí se mostrará el video en tiempo real -->
    </div>
</body>
</html>
